server {
    server_name thetemperatureproject.org;
    charset utf-8;
    client_max_body_size 1M;
    server_tokens off;

    # Listen on the HTTPS port and point at the cert files certbot just created
    listen 443 ssl;
    http2 on;
    ssl_certificate /etc/letsencrypt/live/thetemperatureproject.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/thetemperatureproject.org/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location /static {
        gzip on;
        gzip_comp_level 6;
        gzip_min_length 1100;
        gzip_buffers 16 8k;
        gzip_proxied any;
        gzip_types
            text/plain
            text/xml
            text/css
            application/javascript
            application/json
            application/xml
            application/rss+xml;

        alias /static/the-temperature-project;
        add_header Cache-Control "no-cache, no-store, must-revalidate";
        add_header Pragma "no-cache";
        expires 0;
    }

    # Lets certbot re-validate this domain later, when it's time to renew
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        try_files $uri @yourapplication;
    }
    location @yourapplication {
        gzip on;
        gzip_disable "msie6";
        gzip_comp_level 6;
        gzip_min_length 1100;
        gzip_buffers    8 256k;
        gzip_proxied any;
        gzip_types
            text/plain
            text/xml
            text/css
            application/javascript
            application/json
            application/xml
            application/rss+xml;

        # Hands the request off to the Granian app server
        proxy_pass http://174.44.0.100:15000;
        include uwsgi_params;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Protocol $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
    }
}

# Anything that still arrives on plain HTTP gets bounced to HTTPS
server {
    if ($host = thetemperatureproject.org) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name thetemperatureproject.org;
    return 404;
}